<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Cover Letter</h2>
<div class="summary">
	<p>
	My name is Andrey, currently I am holding the position of Head of Research and Development department at Distillery Tech (HQ is located in Santa Monica, US). 
	</p>
	
	<p>
	My Masters degree thesis is: "Service System of Transport Services". It includes design and development of a network geo service with pathfinding and decision making features.
	I have yet an unfinished PhD degree on the topic "Research and Development of an adaptive to user behavior systems". So my pure academic scope is intellectual adaptive systems. I have a several publications on this topic, including internal Samsung Electronics Paper Award. Also you may find my publication in IEEE repository on the topic "Visualization of Spatial Data Adaptive to Changes in the Database Structure"[<a href="http://ieeexplore.ieee.org/document/7371040/?arnumber=7371040&newsearch=true&queryText=visualization%20of%20spatial%20data" target="_blank">link</a>] which reflects my current academic direction.
	I feel comfortable to solve complicated research goals, implement prototypes and proof of concepts, architect and schedule any type of development. I am able to bake a production ready code as one of the results, but not really interested in 100% routine coding. I am expecting to have a position where I should solve machine learning/data analysis problems for any domain (context awareness, adaptive systems, AI, automotive, geo spatial data analysis are preferable, but not limited to), showcase and implement the results of the research.
	</p>

<!--     <p>Summarise your career here lorem ipsum dolor sit amet, consectetuer adipiscing elit. You can <a href="#" target="_blank">download this free resume/CV template here</a>. Aenean commodo ligula eget dolor aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p> -->
</div><!--//summary-->
</section><!--//section-->