<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>These side projects and open source libraries which were founded or contributed by me.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://review.tizen.org/git/?p=framework/context/place-context-provider.git;a=tree;h=refs/heads/accepted/tizen_2.4_mobile;hb=refs/heads/accepted/tizen_2.4_mobile">Tizen 2.4 Context Framework</a></span> - <span class="project-tagline">Tizen as a platform is embracing context awareness by giving developers context and activity frameworks. This allows developers to launch apps on a contextual event and even allowing apps to collect app usage data of the user.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/AndreyDrive/UnitySpace" target="_blank">Web service unity framework</a></span> - 
                    <span class="project-tagline">A virtual environment for collaborative work in a browser. Incudes virtual desktop UI, security and document sharing tools.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/AndreyDrv/escommandor" target="_blank">ElasticSearch Commandor</a></span> - <span class="project-tagline">Elasticsearch routine operations management</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/AndreyDrv/smodel" target="_blank">SModel</a></span> - <span class="project-tagline">Simple passive model implementation for Ruby apps. </span>
                </div><!--//item-->
<!--                 <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div> --><!--//item-->
            </section><!--//section-->